---
import {endpoints, ValorantEndpoint} from 'valorant-api-types'
import Layout from '../../layouts/Layout.astro'
import {marked} from 'marked'
import EndpointMethod from '../../components/EndpointMethod.astro'

function getSlug(str: string) {
    return str.toLowerCase().replace(/ /g, '-')
}

const endpointsBySlug = new Map<string, ValorantEndpoint>()
for(const endpoint of Object.values(endpoints)) {
    endpointsBySlug.set(getSlug(endpoint.name), endpoint)
}

export function getStaticPaths() {
    const staticPaths = []
    for(const endpoint of Object.values(endpoints)) {
        staticPaths.push({
            params: {slug: endpoint.name.toLowerCase().replace(/ /g, '-')}
        })
    }
    return staticPaths
}

function endpointToURL(endpoint: ValorantEndpoint): string {
    switch(endpoint.type) {
        case 'pd': return `https://pd.{shard}.a.pvp.net/${endpoint.suffix}`
        case 'glz': return `https://glz-{region}-{shard}.a.pvp.net/${endpoint.suffix}`
        case 'shared': return `https://shared.{shard}.a.pvp.net/${endpoint.suffix}`
        case 'local': return `https://127.0.0.1:{port}/${endpoint.suffix}`
        case 'other': return endpoint.suffix
    }
}

const {slug} = Astro.params
const endpoint = endpointsBySlug.get(slug!)!

const content = marked.parse(endpoint.description)

interface VariableMeta {
    name: string
    slug: string
    descriptionHtml?: string
}

const variablesToReplace = new Map<string, VariableMeta>([
    ['{shard}', {
        name: 'shard',
        slug: 'shard',
        descriptionHtml: 'tbd'
    }],
    ['{region}', {
        name: 'region',
        slug: 'region',
        descriptionHtml: 'tbd'
    }],
    ['{port}', {
        name: 'port',
        slug: 'port',
        descriptionHtml: 'tbd'
    }]])
if(endpoint.variables !== undefined) {
    for(const [name, varType] of endpoint.variables.entries()) {
        let descriptionHtml = undefined
        if(varType.description !== undefined) {
            descriptionHtml = marked.parse(varType.description)
        }
        variablesToReplace.set(`{${name}}`, {
            name,
            slug: getSlug(name),
            descriptionHtml
        })
    }
}

const endpointUrl = endpointToURL(endpoint)
let urlHtml = endpointUrl
let usedVariables = []
for(const [variable, meta] of variablesToReplace.entries()) {
    if(!urlHtml.includes(variable)) continue
    urlHtml = urlHtml.replace(variable, `<a href="#${meta.slug}" class="text-emerald-700 dark:text-orange-400 underline">${variable}</a>`)
    usedVariables.push(variable)
}

// Sort by appearance in URL such that the first variable in the url is the first in the list
usedVariables = usedVariables.sort((a, b) => endpointUrl.indexOf(a) - endpointUrl.indexOf(b))

---

<Layout title={`${endpoint.name} - Valorant API Docs`} endpointName={endpoint.name}>
    <main class="mx-auto p-3 max-w-4xl">
        <h1 class="text-center mb-2">
            <EndpointMethod method={endpoint.method}/>
            {endpoint.name}
        </h1>
        <code class="block max-w-fit m-auto break-all bg-gray-100 dark:bg-black p-2 rounded-xl my-5" set:html={urlHtml}/>
        <div class="text-xl mt-2" id="description">
            <Fragment set:html={content}/>
        </div>

        <h3 class="text-lg font-semibold my-2">Variables:</h3>
        <ul class="list-disc list-inside">
            {usedVariables.map(variable => {
                const meta = variablesToReplace.get(variable)!

                return <li id={meta.slug} class="target:border-l-2 pl-2 border-emerald-700 dark:border-orange-500">
                    <code class="bg-gray-100 dark:bg-black p-1 rounded-xl">{variable}</code>
                    {(meta.descriptionHtml !== undefined) && <div class="ml-12">
                        <Fragment set:html={meta.descriptionHtml}/>
                    </div>}
                </li>
            })}
        </ul>
    </main>
</Layout>

<style>
#description :global(table) {
    text-align: center;
    border-spacing: 2rem 0.2rem;
    border-collapse: separate;
}
</style>