---
import {endpoints, ValorantEndpoint} from 'valorant-api-types'
import Layout from '../../layouts/Layout.astro'
import {marked} from 'marked'
import EndpointMethod from '../../components/EndpointMethod.astro'

function getEndpointSlug(endpoint: ValorantEndpoint) {
   return endpoint.name.toLowerCase().replace(/ /g, '-')
}

const endpointsBySlug = new Map<string, ValorantEndpoint>()
for(const endpoint of Object.values(endpoints)) {
    endpointsBySlug.set(getEndpointSlug(endpoint), endpoint)
}

export function getStaticPaths() {
    const staticPaths = []
    for(const endpoint of Object.values(endpoints)) {
        staticPaths.push({
            params: {slug: endpoint.name.toLowerCase().replace(/ /g, '-')}
        })
    }
    return staticPaths
}

const {slug} = Astro.params
const endpoint = endpointsBySlug.get(slug!)!

const content = marked.parse(endpoint.description)
---

<Layout title={`${endpoint.name} - Valorant API Docs`} endpointName={endpoint.name}>
    <main class="mx-auto p-3">
        <h1>
            <EndpointMethod method={endpoint.method}/>
            {endpoint.name}
        </h1>
        <div class="text-xl" id="description">
            <Fragment set:html={content}/>
        </div>
    </main>
</Layout>

<style>
#description :global(table) {
    text-align: center;
    border-spacing: 2rem 0.2rem;
    border-collapse: separate;
}
</style>